.containerNotification {
  position       : absolute;
  top            : 6em;
  right          : 0;
  z-index        : 9999;
  padding        : 20px;
  display        : flex;
  flex-direction : column;
  align-items    : flex-end;
  gap            : 10px;
  width          : fit-content;
  max-width      : 300px;
  box-sizing     : border-box;
  border-radius  : 1em 0 0 1em;
}

.success {
  color            : #000000;
  background-color : #c7f1cd;
}

.error {
  color            : #000000;
  background-color : #f1c7cd;
}

.warning {
  color            : #000000;
  background-color : #f1f1cd;
}

.info {
  color            : #000000;
  background-color : #cddcf1;
}
